include "config.path"
project     = "dezhou"

thread         = 1
logger         = project .. "_killer.log"
logservice     = "logger"
xlogpath       = "./logs/" .. project .. "killer"
xlogroll       = 512   -- M

harbor         = 2
address        = "127.0.0.1:2402"
master         = "127.0.0.1:2001"
start          = "main_killer"	-- main script
bootstrap      = "snlua bootstrap"	-- The service for bootstrap
-- standalone     = "0.0.0.0:2001"
daemon         = "./" .. project .. "_m1.pid"

-- signup server
signupd        = "0.0.0.0:3001"
signupd_name   = "WX_SIGNUPD"

-- login server
logind         = "0.0.0.0:3002"
logind_name    = "LOGIND"

-- gate server
gated          = "0.0.0.0:3301"
gated_name     = "sample1"
maxclient      = 64


-- db server
db_host        = "127.0.0.1"
db_port        = 3306
db_database    = "dezhou"
db_user        = "root"
db_password    = "123456"
cache_host     = "127.0.0.1"
cache_port     = 6379
cache_db       = 0


-- guid
worker         = 1
cross_worker   = 0